@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono&display=swap');

body {
    font-family: IBM Plex Mono, serif;
    background: radial-gradient(#819aab 9%, #535353 91%);
}

p {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: rgb(136, 136, 136);
}

.navbar-nav .nav-link.active {
    color: rgb(255, 255, 255);
}

.navbar-brand img{
    width: 45px;
}

.navbar-toggler {
    background-color: rgb(92, 92, 92);  
}

.sidebar {
    color: rgb(255, 255, 255);
    background: linear-gradient(9deg, #808080 0%, #000000 100%);
}

.card {
    background: linear-gradient(9deg, #808080 0%, #000000 100%);
    color: rgb(255, 255, 255);
}

.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.slide-text,
.footer-text {
    color: rgb(255, 255, 255);
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(9deg, #808080 0%, #000000 100%);
}

.call-anim {
    animation: callAnim 2s ease 0s infinite normal none;
}

@keyframes callAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-primary {
    color: rgb(136, 136, 136);
    border-color: rgb(136, 136, 136);
    --bs-btn-hover-border-color: black;
}
